<style media="screen">
  h1{
    text-align: center;
  }
  p{
    text-align: justify;;
    justify-content: center;
  }
  div#sobre-imagem{
    padding-top: 50px;
    height: 180px;
  }
  #conteudosobre{

    width: 100%;
    height: 100%;

  }
  #pos{
    padding: 2%;
    width: 100%;
    height: 100%;

  }

#tex{
  max-width: 800px;
}

</style>
<div id="pos" class="container-fluid">
  <div id="conteudosobre" class="container-fluid">
    <div class="col-md-12">
      <div id="sobre-imagem"> <%=image_tag 'sobre.jpg'%></div>
        <h2>Plataforma web para divulgação de eventos </h2>
        <div id="tex" class="container-fluid">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Desenvolvido para permitir que qualquer pessoa divulgue ou encontre sugestões de eventos a participar.
            Festivais musicais, teatro, conferências, festas para arrecadar fundos ... você organiza, nós divulgamos!
             É fácil, basta acessar do seu computador, tablet ou smartphone. Vamos juntos garantir sucesso no seu evento!
          </p>
          <br>
        </div>
    </div>
  </div>
</div>
