<style media="screen">
  h1{
    text-align: center;
  }
  p{
    text-align: center;
    justify-content: center;
  }
  div#sobre-imagem{
    padding-top: 50px;
    text-align: center;
    justify-content: center;
  }


</style>
<div class="container">
  <div id="sobre-imagem"> <%=image_tag 'sobre.jpg'%></div>
  <h1>Sobre o Parrot</h1>
  <p>O parrot é uma aplicação desenvolvida por alunos do curso de Análise e Desenvolvimento de sistemas do Instituto Federal do Piauí Campus Floriano </p>
  <p>O parrot surge como uma alternativa simples para a divulgação de eventos em geral por meio de um website. <br><br><br><br><br><br><br></p>
</div>
